In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies.csv")

In [3]:
df.head(3)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English
1,The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English

In [4]:
import pandas as pd

In [5]:
df.shape

(40, 10)

In [6]:
df.industry.head()

0    Hollywood
1    Hollywood
2    Hollywood
3    Hollywood
4    Bollywood
Name: industry, dtype: object

In [7]:
df["industry"].head()

0    Hollywood
1    Hollywood
2    Hollywood
3    Hollywood
4    Bollywood
Name: industry, dtype: object

In [8]:
df["industry"].value_counts()

industry
Hollywood    23
Bollywood    17
Name: count, dtype: int64

In [9]:
df["language"].unique()

array(['English', 'Bengali', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [10]:
df["language"].value_counts()

language
English    23
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [11]:
df[["industry","revenue","language"]].head()

    industry   revenue language
0  Hollywood       5.0  English
1  Hollywood     207.3  English
2  Hollywood     954.8  English
3  Hollywood     644.8  English
4  Bollywood  100000.0  Bengali

In [12]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English
1,The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
4,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali

In [13]:
df.studio.unique()

array(['Charles Chaplin Film Corporation', 'Universal Pictures',
       'Marvel Studios', 'Government of West Bengal',
       'Castle Rock Entertainment', 'Warner Bros. Pictures',
       'Columbia Pictures', 'Universal Pictures  ', 'Paramount Pictures',
       'Liberty Films', '20th Century Fox', 'Syncopy', nan,
       'Yash Raj Films', 'Vinod Chopra Films', 'Dharma Productions',
       'Vinod Chopra Productions', 'Zee Studios', 'Salman Khan Films',
       'Hombale Films', 'Mythri Movie Makers', 'DVV Entertainment',
       'Arka Media Works'], dtype=object)

In [14]:
df.studio.value_counts()

studio
Marvel Studios                      8
Universal Pictures                  4
Vinod Chopra Films                  3
Dharma Productions                  2
Paramount Pictures                  2
Salman Khan Films                   2
Warner Bros. Pictures               1
Castle Rock Entertainment           1
Government of West Bengal           1
Charles Chaplin Film Corporation    1
Liberty Films                       1
20th Century Fox                    1
Universal Pictures                  1
Columbia Pictures                   1
Yash Raj Films                      1
Syncopy                             1
Vinod Chopra Productions            1
Zee Studios                         1
Hombale Films                       1
Mythri Movie Makers                 1
DVV Entertainment                   1
Arka Media Works                    1
Name: count, dtype: int64

In [15]:
df[df.studio == "Marvel Studios"]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
6,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
7,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
21,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
22,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
23,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English

In [16]:
# Find all movie which were release in between 2012 to 2024
df.info()
df[(df.release_year >= 2012) & (df.release_year <=2024)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         40 non-null     object
 1   industry      40 non-null     object
 2   release_year  40 non-null     int64
 3   imdb_rating   39 non-null     float64
 4   studio        37 non-null     object
 5   budget        40 non-null     float64
 6   revenue       40 non-null     float64
 7   unit          40 non-null     object
 8   currency      40 non-null     object
 9   language      40 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.3+ KB

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
6,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
7,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
9,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.0,701.8,Millions,USD,English
19,Parasite,Hollywood,2019,8.5,NaN,15.5,263.1,Millions,USD,English
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
21,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
23,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English
27,Bajirao Mastani,Bollywood,2015,7.2,NaN,1.4,3.5,Billions,INR,Hindi
30,PK,Bollywood,2014,8.1,Vinod Chopra Films,850.0,8540.0,Millions,INR,Hindi
31,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,1.0,5.9,Billions,INR,Hindi
32,The Kashmir Files,Bollywood,2022,8.3,Zee Studios,250.0,3409.0,Millions,INR,Hindi
33,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,900.0,11690.0,Millions,INR,Hindi
34,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi
35,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi
36,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada
37,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
38,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu
39,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

In [17]:
df.imdb_rating.max()
df[df.imdb_rating == df.imdb_rating.max()]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
8,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English

In [18]:
df.imdb_rating.min()
df[df.imdb_rating == df.imdb_rating.min()]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
34,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi

In [19]:
# Find both min and max rating movie
df[(df.imdb_rating == df.imdb_rating.min())|(df.imdb_rating == df.imdb_rating.max())]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
8,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
34,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi

In [20]:
df_min = df[df.imdb_rating == df.imdb_rating.min()]
df_max = df[df.imdb_rating == df.imdb_rating.max()]

pd.concat((df_min,df_max))

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
34,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi
8,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English

In [21]:
df.describe()

       release_year  imdb_rating        budget        revenue
count     40.000000    39.000000     40.000000      40.000000
mean    2005.100000     7.851282   1931.507000    3819.567500
std       20.013841     1.216092  11040.716653   15765.741783
min     1940.000000     1.900000      1.000000       3.100000
25%     2000.750000     7.700000     13.425000     173.800000
50%     2012.000000     8.100000    142.500000     657.400000
75%     2018.000000     8.400000    250.000000    1520.000000
max     2022.000000     9.300000  70000.000000  100000.000000

In [22]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English
1,The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
4,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali

In [23]:
df[df.currency == "USD"]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.20,5.0,Millions,USD,English
1,The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.00,207.3,Millions,USD,English
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.00,954.8,Millions,USD,English
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.00,644.8,Millions,USD,English
5,2 Fast 2 Furious,Hollywood,2003,5.9,Universal Pictures,76.00,236.4,Millions,USD,English
6,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.00,854.0,Millions,USD,English
7,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.00,670.0,Millions,USD,English
8,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,English
9,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.00,701.8,Millions,USD,English
10,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English
11,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English
12,Titanic,Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English
13,It's a Wonderful Life,Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English
14,Avatar,Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English
15,The Godfather,Hollywood,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,English
16,The Dark Knight,Hollywood,2008,9.0,Syncopy,185.00,1006.0,Millions,USD,English
17,Schindler's List,Hollywood,1993,9.0,Universal Pictures,22.00,322.2,Millions,USD,English
18,Jurassic Park,Hollywood,1993,8.2,Universal Pictures,63.00,1046.0,Millions,USD,English
19,Parasite,Hollywood,2019,8.5,NaN,15.50,263.1,Millions,USD,English
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.00,2798.0,Millions,USD,English
21,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.00,2048.0,Millions,USD,English
22,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.70,370.6,Millions,USD,English
23,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.00,714.4,Millions,USD,English

In [24]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English
1,The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
4,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali

In [25]:
import datetime as dt

current_year = dt.datetime.now().year
current_year

2025

In [26]:
df["age"] = df.apply(lambda row: current_year - row["release_year"],axis=1)

df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English,85
1,The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English,24
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12
4,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70

In [27]:
df["age"] = df.release_year.apply(lambda value: current_year - value)

df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English,85
1,The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English,24
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12
4,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70

In [28]:
df.drop( "age", axis=1, inplace=True)

In [29]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English
1,The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
4,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali

In [30]:
df.set_index("title", inplace=True)

In [31]:
df.head()

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
title,,,,,,,,,
The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English
The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali

In [32]:
df.index

Index(['The Great Dictator', 'The Fast and the Furious',
       'Doctor Strange in the Multiverse of Madness', 'Thor: The Dark World ',
       'Pather Panchali', '2 Fast 2 Furious', 'Thor: Ragnarok ',
       'Thor: Love and Thunder ', 'The Shawshank Redemption', 'Interstellar',
       'The Pursuit of Happyness', 'Gladiator', 'Titanic',
       'It's a Wonderful Life', 'Avatar', 'The Godfather', 'The Dark Knight',
       'Schindler's List', 'Jurassic Park', 'Parasite', 'Avengers: Endgame',
       'Avengers: Infinity War', 'Captain America: The First Avenger',
       'Captain America: The Winter Soldier', 'Dilwale Dulhania Le Jayenge',
       '3 Idiots', 'Kabhi Khushi Kabhie Gham', 'Bajirao Mastani ',
       'Taare Zameen Par', 'Munna Bhai M.B.B.S.', 'PK', 'Sanju',
       'The Kashmir Files', 'Bajrangi Bhaijaan', 'Race 3', 'Shershaah',
       'K.G.F: Chapter 2', 'Pushpa: The Rise - Part 1', 'RRR',
       'Baahubali: The Beginning'],
      dtype='object', name='title')

In [38]:
df.loc["Titanic"]
df.loc[["Titanic","RRR"]]

KeyError: 'Titanic'

In [34]:
df.iloc[0]

industry                               Hollywood
release_year                                1940
imdb_rating                                  8.4
studio          Charles Chaplin Film Corporation
budget                                       2.2
revenue                                      5.0
unit                                    Millions
currency                                     USD
language                                 English
Name: The Great Dictator, dtype: object

In [35]:
df.iloc[0:5]

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
title,,,,,,,,,
The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English
The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali

In [36]:
df.reset_index(inplace=True)
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,The Great Dictator,Hollywood,1940,8.4,Charles Chaplin Film Corporation,2.2,5.0,Millions,USD,English
1,The Fast and the Furious,Hollywood,2001,6.8,Universal Pictures,38.0,207.3,Millions,USD,English
2,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
3,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
4,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali

In [37]:
df.index

RangeIndex(start=0, stop=40, step=1)